<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.denny.pickerlib">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>

        <activity android:name=".PickerActivity"
            android:theme="@style/PickerBaseTheme"/>

    </application>

</manifest>
